<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Books recommendation system</title>
    </head>
    <body>
        <h1>Рекомендательная система</h1>
        <h2>Для библиотек Москвы</h2>
        <h2>Чтобы воспользоваться API используйте эндпоинты ниже:</h2>
        <ul>
            <li>GET /api/find/new - найдет книжки для нового пользователя</li>
            <li>GET /api/find/int:user_id - найдёт книжки для пользователя с историей</li>
        </ul>
    </body>
</html>